.CustomLink {
	border-radius: var(--border-radius);
	max-width: max-content;
	padding: 1rem 2rem;
	color: var(--bg-color);
	background-color: var(--primary-color);
	font-size: 1rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
}
