/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/Header/Header.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Header_Header__xIKfd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  padding: 1rem;
  font-size: 1.25rem;
}
.Header_Header__xIKfd .Header_HeaderLeft__hcJM5 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.Header_mobileMenu__NsXEa {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: var(--bg-color);
}
.Header_mobileMenu__NsXEa .Header_TopBarMenu__nMOxN {
  padding: 1rem 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Header_mobileMenu__NsXEa .Header_TopBarMenu__nMOxN .Header_IconList__NXoOF {
  gap: 1rem;
  display: flex;
}
.Header_mobileMenu__NsXEa nav {
  padding: 2rem 8px;
  color: var(--bg-color);
  border-bottom: 5px solid var(--text-colo);
}
.Header_mobileMenu__NsXEa nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Header_mobileMenu__NsXEa nav ul li a {
  font-size: 2rem;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/CustomLink/CustomLink.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.CustomLink_CustomLink__Nzv6O {
  border-radius: var(--border-radius);
  max-width: max-content;
  padding: 1rem 2rem;
  color: var(--bg-color);
  background-color: var(--primary-color);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/LogButton/LogButton.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.LogButton_LogButton__hYx1z {
  width: 100%;
}
